button {
    position: relative;
    padding: 5px;
    color: #333;
    background-color: #ddd;
    border-color: #ddd;
    text-align: center;
    max-width: 30%;
    margin-bottom: 1.5em;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.75rem;
    cursor: pointer;
}
button:hover {
    color: #fff;
    background-color: #202a35;
    border-color: #fff;
}
button.active {
    color: #fff;
    background-color: #202a35;
    border-color: #fff;
}
.dropdown {
    position: absolute;
    top: 40px;
    left: 5em;
    border: 1px solid rgb(197, 197, 197);
    background: #fff;
    max-width: 100%;
    color: #000000;
    text-align: center;

    border-radius: 0.25rem;
}
.dropdown > p {
    margin: 0;
    padding: 0.375rem 0.88rem;
    border-bottom: 1px solid rgb(235, 235, 235);
    min-width: 50px;
}
.dropdown > p:hover {
    color: #fff;
    background-color: #0062cc;
}
.dropdown > p:last-child {
    border-bottom: 0 none;
}
