.menu {
    position: relative;
    left: 35%;
    padding: 5px;
    color: var(--border);
    background-color: transparent;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--border);
    font-size: 1rem;
    max-width: 30%;
    line-height: 1.5;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.menu:hover {
    color: #fff;
    background-color: var(--border);
	color: var(--background);
    border-color: var(--border);
}

.menu.active {
    background-color: var(--border);
	color: var(--background);
    border-color: var(--border);
}
.dropdown {
    position: absolute;
    top: 40px;
    left: -1px;
    background: var(--hint-background);
    padding: 0;
    min-width: 100%;
    color: #000000;
    text-align: center;
    border-radius: 0.25rem;
	border-radius: 1rem;
}
.dropdown > p {
    margin: 0;
    padding: 0.375rem 0.88rem;
    border-bottom: 1px solid transparent;
    min-width: 50px;
	color: white;
	border-radius: 2rem;
}
.dropdown > p:hover {
    color: var(--border);
	outline: 1px solid var(--border);
}
.dropdown > p:last-child {
    border-bottom: 0 none;
}
