@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.popup-content {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: var(--hint-background);
    width: 40vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3; /* Ensure it's on top */
    border-radius: 2rem;
    box-shadow: black 0px 10px 15px;
    gap: 2rem;
    padding: 1rem 0;
    box-sizing: border-box;
    border: var(--border) 1px solid;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.overlay {
    height: 200vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 2;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.popup-title {
    margin: 0;
    font-size: 28px;
}

.popup-text {
    margin: 0;
    font-size: 20px;
}

.play-again-button {
    border: var(--border) 1px solid;
    font-family: inherit;
    font-size: 20px;
    background-color: transparent;
    color: var(--border);
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    transition: background-color 0.5s ease;
}

.play-again-button:hover {
    background-color: var(--border);
    color: var(--background);
}
