.hint-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 800px;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .hint-grid {
        width: 90vw;
    }
}

.hint {
    background-color: var(--hint-background);
    border: var(--border) 1px solid;
    border-radius: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease;
}

.hint-heading,
.hint-text {
    margin: 0;
}
