a {
    color: var(--border);
    font-size: 24px;
}

.home-body-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 90vh;
}

h1 {
    font-size: 4em;
}

.category-direction {
    font-size: 1.5em;
}
