@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

.spooky-title {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.movieguessr-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-start;
}

@keyframes across-screen {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(calc(-100vw - 480px), 30vh);
    }
}

.ghost {
    position: fixed;
    right: -480px;
    animation-name: across-screen;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.round-count {
    margin: 0;
    font-size: 26px;
}

.stats-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.hint-count,
.point-count {
    font-size: 28px;
    margin: 0;
}

.hint-count-text,
.point-count-text {
    font-size: 22px;
    margin: 0;
}

.guess-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.guess-input {
    border: var(--border) 1px solid;
    font-family: inherit;
    font-size: 20px;
    border-radius: 2rem;
    padding: 0.7rem 1.2rem;
    width: 600px;
    text-align: center;
    background-color: transparent;
    color: inherit;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .guess-input {
        width: 80vw;
    }
}

.guess-input:focus-visible {
    outline: none;
}

.guess-input.wrong {
    animation-name: buzz;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes buzz {
    0% {
        border: var(--border) 1px solid;
    }
    50% {
        border: var(--border-error) 1px solid;
    }
    100% {
        border: var(--border) 1px solid;
    }
}

.submit-button {
    border: var(--border) 1px solid;
    font-family: inherit;
    font-size: 20px;
    background-color: transparent;
    color: var(--border);
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    transition: background-color 0.5s ease;
}

.submit-button:hover {
    background-color: var(--border);
    color: var(--background);
}
