.movieguessr-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-start;
}

.stats-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.hint-count,
.point-count {
    font-size: 28px;
    margin: 0;
}

.hint-count-text,
.point-count-text {
    font-size: 22px;
    margin: 0;
}

.guess-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.guess-input {
    border: none;
    font-family: inherit;
    font-size: 20px;
    border-radius: 2rem;
    padding: 0.7rem 1.2rem;
    width: 600px;
    text-align: center;
    background-color: var(--textbox-background);
    color: inherit;
    font-weight: bold;
}

.guess-input:focus-visible {
    outline: none;
}

.submit-button {
    border: var(--border) 1px solid;
    font-family: inherit;
    font-size: 20px;
    background-color: transparent;
    color: var(--border);
    padding: 0.7rem 1.2rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--border);
    color: var(--background);
}
