.slider-container {
    max-width: 90vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 400px;
    background-color: var(--hint-background);
    border-radius: 3rem;
    position: relative;
}

.option {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
}

.slider-selected {
    position: absolute;
    height: 100%;
    width: calc(100% / 3);
    border-radius: 3rem;
    border: var(--border) 1px solid;
    left: 0;
    transition: transform 0.3s ease;
}

.option-text {
    margin: 0;
}
