@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cairo:wght@200..1000&display=swap");

:root {
    font-family:
        "Cairo",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --hint-background: rgb(31, 28, 40);
    --border: rgb(198, 217, 252);
	--border-error: rgb(254, 81, 95);
    --background: rgb(22, 20, 25);

    background-color: var(--background);
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 36px;
    margin: 0;
}
